<!DOCTYPE html>
<html
        xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments/header :: header">
<body>
<div class="container">
    <div th:replace = "fragments/nav::nav"></div>
    <div class="row">
        <h3 th:text="${lectureDetailsDto.courseTitle}">{course-title}</h3>
    </div>
    <div class="row">
        <h4 th:text="${lectureDetailsDto.lectureTitle}">{lecture-title}</h4>
    </div>
    <hr>
    <div class="row">
        <div id="viewer"></div>
    </div>
    <div class="row" style="justify-content:center">
        <a class="btn btn-primary" th:href="@{/course/{courseId}(courseId = ${lectureDetailsDto.courseId})}">강의 목록</a>
    </div>
    <div class="row" style="justify-content:center; margin-top:2%;">
        <a class="btn btn-primary" th:href="@{/lecture/{lectureId}/comments(lectureId = ${lectureDetailsDto.lectureId})}">댓글 목록</a>
    </div>
</div>
<input type="hidden" id="contents" th:value="${lectureDetailsDto.contents}">
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const viewer = toastui.Editor.factory({
        el: document.getElementById('viewer'),
        viewer:true,
        height: '600px',
        initialValue: document.getElementById('contents').value
    })
</script>
</html>