<!DOCTYPE html>
<html
        xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments/header :: header">
<body>
<div class="container">
    <div th:replace = "fragments/nav::nav"></div>
    <h3>마이페이지</h3>
    <hr>
    <div class="row">
        <div class="col-4">
            <p style="font-weight:bold;">회원번호</p>
        </div>
        <div class="col-8">
            <p th:text="${memberInfoDto.id}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p style="font-weight:bold;">소셜 서비스 회원번호</p>
        </div>
        <div class="col-8">
            <p th:text="${memberInfoDto.oauthId}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p style="font-weight:bold;">연동된 서비스</p>
        </div>
        <div class="col-8">
            <p th:text="${memberInfoDto.oauthDomain}"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <p style="font-weight:bold;">닉네임</p>
        </div>
        <div class="col-4">
            <p id = "nickname" th:text="${memberInfoDto.nickname}"></p>
        </div>
        <div class="col-4">
            <button class="btn btn-sm btn-primary" onclick="changeNickname()">변경하기</button>
        </div>
    </div>
    <hr>
</div>
</body>
<script>
    function changeNickname(){
        var newNickname = prompt('2자에서 50자 이내의 새로운 닉네임을 입력해주세요.')

        const formData = new FormData()
        formData.append('newNickname', newNickname)

        fetch('/member/me/nickname', {
            method: 'PUT',
            body: formData
        })
        .then((res) => res.json())
        .then((json) => {
            if(json.changed){
                document.getElementById('nickname').innerText = newNickname
            }else{
                alert(json.reason)
            }
        })
    }
</script>
</html>