<!DOCTYPE html>
<html
        xmlns:th = "http://www.thymeleaf.org">
<head th:replace = "fragments/header :: header">
<body>
<div class="container">
    <div th:replace = "fragments/nav_lecturer::nav"></div>
    <div class="row">
        <div class="col">
            <h3 th:text="${course.title}"></h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <th:block th:if="${!course.isPublished}">
                <button class="btn btn-secondary" style="float:right;"
                        th:onclick="|deleteCourse('${course.id}')|">
                    삭제
                </button>
                <form id="publishCourseForm" action="/course/publish" method="post">
                    <input type="hidden" name="courseId" th:value="${course.id}">
                </form>
                <button class="btn btn-primary" style="float:right;"
                        th:onclick="publishCourse()">
                    출판하기
                </button>
            </th:block>
            <th:block th:if="${course.isPublished}">
                <button style="float:right;" class = "btn btn-primary">통계보기</button>
            </th:block>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" id="tab0" onclick="changeTab(0)">정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="tab1" onclick="changeTab(1)">목차</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div id="display0" class="col">
            <div class="row">
                <div class="col">
                    <button style="float:right;" class="btn btn-secondary">
                        <a th:href="@{/course/{id}/modify(id=${course.id})}" style="color:white;">수정</a>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h3 style="font-weight:bold;">제목</h3>
                    <h3 th:text="${course.title}">{title}</h3><br>
                    <h3 style="font-weight:bold;">커버</h3>
                    <div style="width: 12em; height: 9em; border: 1px solid; display: flex;
                            align-items: center;">
                        <div style="width:200px;height:150px; text-align: center; justify-content:center;">
                            <img style="max-width:100%; max-height:100%;" th:src="${course.cover}">
                        </div>
                    </div><br>
                    <h3 style="font-weight:bold;">소개</h3>
                    <div id="viewer"></div>
                </div>
            </div>
        </div>
        <div id="display1" class="col" style="display:none;">
            <ul class="list-group">
               <li class="list-group-item" th:each="lecture:${lectures}">
                   <a style="color:black;" th:text="${lecture.title}"
                        th:href="@{/lecture/{lectureId}/manage(lectureId=${lecture.lectureId})}"></a>
                   <button style="float:right; background-color:white; border:none; color:blue;" th:text="삭제"
                           th:onclick ="|deleteLecture(
                        '/lecture/${lecture.lectureId}'
                        )|"
                           th:href="@{/lecturer/course/{courseId}/{lectureId}/modify(courseId=${course.id}, lectureId=${lecture.lectureId})}"></button>

                   <a style="float:right;" th:text="수정"
                      th:href="@{/lecture/{lectureId}/modify(lectureId=${lecture.lectureId})}"></a>
                   </li>
            </ul>
            <div style="width:100%;text-align:center;">
                <button class="btn btn-primary">
                    <a style="color:white;" th:href="@{/course/{courseId}/lecture/register(courseId=${course.id})}">강의 추가</a>
                </button>
            </div>
        </div>
    </div>
</div>
<form th:action="@{/course/{id}(id=${course.id})}" method="post" id="deleteForm">
    <input type="hidden" name="_method" value="DELETE">
</form>

<form method="post" id="deleteLectureForm">
    <input type="hidden" name="_method" value="DELETE">
</form>

<input type="hidden" id="introduction" th:value="${course.introduction}">
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
    const viewer = toastui.Editor.factory({
        el: document.getElementById('viewer'),
        viewer:true,
        height: '600px',
        initialValue: document.getElementById('introduction').value
    })
    function changeTab(option){
        var showTab = document.getElementById('tab' + option)
        var hideTab = document.getElementById('tab' + (option + 1)%2)

        showTab.classList.remove('nav-link')
        showTab.classList.add('nav-link')
        showTab.classList.add('active')

        hideTab.classList.remove('active')


        var display = document.getElementById('display' + option)
        var hide = document.getElementById('display' + (option + 1)%2)

        hide.style.display = 'none'
        display.style.display = 'unset'

    }

    function deleteCourse(id){
        var input = confirm('정말 삭제하시겠습니까?')
        if(input){
            document.getElementById('deleteForm').submit()
        }
    }

    function deleteLecture(action){
        var input = confirm('정말 삭제하시겠습니까?')
        if(input){

            var form = document.getElementById('deleteLectureForm')

            form.action = action
            form.submit()
        }
    }

    function publishCourse(){
        var input = confirm('출판 후에는 코스를 삭제할 수 없습니다. 출판하시겠습니까?')
        if(input){

            var form = document.getElementById('publishCourseForm')
            form.submit()
        }
    }

</script>
</html>