<!DOCTYPE html>
<html
        xmlns:th = "http://www.thymeleaf.org">
<ul class="list-group" th:fragment="category">
    <li class="list-group-item">
        <a style="color:black; cursor: pointer;"
           th:onclick="|changeCategory('all')|">
            ALL
        </a>
    </li>
    <li class="list-group-item" th:each = "cat : ${T(com.glolearn.newbook.domain.Category).values()}"
        th:value="${cat}">
        <a style="color:black; cursor: pointer"
           th:text = "${cat.getValue()}"
           th:attr="onclick=|changeCategory('${cat.toString().toLowerCase()}')|">
        </a>
    </li>
</ul>
</html>