<!DOCTYPE html>
<html
        xmlns:th = "http://www.thymeleaf.org">
<head th:fragment="header">
    <!-- Required meta tags -->
    <title>글로런</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css" />

    <!--    Bootstrap Icon-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
</head>
<body>
<div class="container">
    <div th:replace = "fragments/nav::nav"></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <h3>
                    <a th:href="@{/course/{courseId}(courseId=${lecture.courseId})}"
                        th:text="${lecture.courseTitle}"
                        style="color:black">
                    </a>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4>
                        <a th:href="@{/lecture/{lectureId}(lectureId=${lecture.lectureId})}"
                            th:text="${lecture.title}"
                            style="color:black;">
                        </a>
                    </h4><br>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div th:each="comment : ${comments}" class="card mb-3"
                th:style="${comment.isReply} ? 'margin-left:5%;' : 'margin-left:0%;'">
                <div class="card-body">
                    <h5 th:id="${comment.id} + 'writer'" class="card-title" th:text="${comment.writer}"></h5>
                    <h6 class="card-subtitle mb-2 text-muted" th:text="${comment.regDate}"></h6>
                    <p th:id="${comment.id} + 'contents'"
                            class="card-text" th:text="${comment.contents}">
                    </p>
                </div>
                <div class="card-footer text-muted d-flex justify-content-end">
                    <button type="button" class="btn btn-link btn-sm me-2"
                        th:onclick="|reply('${comment.id}')|">Reply</button>
                    <button
                            th:onclick="|editCommentView('${comment.id}')|"
                            th:if="${nickname == comment.writer}" type="button" class="btn btn-link btn-sm me-2">Edit</button>

                    <button
                            th:if="${nickname == comment.writer}"
                            th:onclick="|deleteComment('${comment.id}')|"
                            type="button" class="btn btn-link btn-sm">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="height:200px;">
    </div>
    <div class="row" style="position:fixed; bottom: 0; width:90%;">
        <div class="col">
            <form id="commentForm"
                th:action="@{/{lectureId}/comment(lectureId=${lecture.lectureId})}" method="post"
              th:object="${commentRegisterDto}">
                <div class="card mb-3">
                    <div class="card-body">
                        <p style="color:blue;" id="commentInfo"></p>
                        <a id="cancelReply" style="cursor:pointer; color:red; display:none;" onclick="cancelReply()">답글 취소</a>
                        <div class="form-floating mb-3">
                            <textarea th:field="*{contents}" class="form-control" placeholder="Write a comment..." id="commentTextarea"></textarea>
                        </div>
                        <button id="commentBtn" class="btn btn-primary">질문하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row" style="position:fixed; bottom: 0; width:90%;">
        <div class="col">
            <form id="editCommentForm" method="post" style="display:none;">
                <input type="hidden" name="_method" value="put">
                <input id="editCommentId" type="hidden">
                <div class="card mb-3">
                    <div class="card-body">
                        <a id="cancelEdit" style="cursor:pointer; color:red;" onclick="cancelEdit()">수정 취소</a>
                        <div class="form-floating mb-3">
                            <textarea name="contents" class="form-control" id="commentEditArea"></textarea>
                        </div>
                        <button type="button"
                                th:onclick = "editComment()" id="editBtn" class="btn btn-primary">수정하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
<form id="deleteCommentForm" method="post">
    <input type="hidden" name="_method" value="delete">
</form>
</body>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script>
    function showCommentForm(){
        document.getElementById('editCommentForm').style.display = 'none'
        document.getElementById('commentForm').style.display = 'unset'
    }

    function showEditForm(){
        document.getElementById('editCommentForm').style.display = 'unset'
        document.getElementById('commentForm').style.display = 'none'
    }

    function reply(rootId){
        showCommentForm()
        var input = document.createElement('input')
        input.id = 'rootId'
        input.type = 'hidden'
        input.name = 'rootId'
        input.value = rootId
        document.getElementById('commentForm').appendChild(input)

        document.getElementById('commentInfo').innerText = document.getElementById(rootId+'writer').innerText + '에 대한 답변'
        document.getElementById('cancelReply').style.display = 'unset'
        document.getElementById('commentBtn').innerText = '답변달기'
    }

    function cancelReply(){
        showCommentForm()
        document.getElementById('commentInfo').innerText = ''
        document.getElementById('cancelReply').style.display = 'none'
        document.getElementById('rootId').remove()
        document.getElementById('commentBtn').innerText = '질문하기'
    }

    function editComment(){
        var form = document.getElementById('editCommentForm')
        form.action = '/comments/' + document.getElementById('editCommentId').value

        form.submit()
    }

    function deleteComment(commentId){
        var input = confirm('정말로 삭제하시겠습니가?\n 작성된 답글 또한 모두 삭제됩니다.')
        if(input){
            var form = document.getElementById('deleteCommentForm')
            form.action = '/comments/' + commentId
            form.submit()
        }
    }

    function editCommentView(commentId){
        showEditForm()
        document.getElementById('editCommentId').value = commentId
        document.getElementById('commentEditArea').value = document.getElementById(commentId + 'contents').innerText
    }

    function cancelEdit(){
        showCommentForm()
    }
</script>
</html>